body {
  background-color: #121212;
  color: #e0e0e0;
}

.Container {
  display: flex;
  height: 100vh;
}

.Box {
  overflow-y: auto;
}

.InfiniteScroll {
  padding: 20px;
}

.Card {
  margin-bottom: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
}

.CardContent {
  background-color: rgba(0, 0, 0, 0.6);
}

.table-container {
  overflow-x: auto;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #444;
}
