.link {
  color: #ffc107;
  text-decoration: none;
  padding: 10px;
}

.link:hover {
  color: #ff9800;
}

.InfiniteScroll {
  padding: 20px;
}

.Card {
  margin-bottom: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
}

.CardContent {
  background-color: rgba(0, 0, 0, 0.6);
}
