.line {
  fill: none;
  stroke: #aca8a8;
  stroke-width: 2px;
}

.axis .domain {
  stroke: #aca8a8;
}

.axis .tick line {
  stroke: #aca8a8;
}

.axis .tick text {
  fill: #aca8a8;
}

.dot {
  fill: #aca8a8;
  stroke: #aca8a8;
  stroke-width: 1px;
}

.axis-label {
  fill: #ccc;
}
